.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContenedorJuego{
  min-width: 300px;
  width: 50%;
  padding: 3vmax;
  background-color:rgb(5, 62, 5);
}

header h1{
  font-size: 4vmax;
}
.contenedorPalabra{
  font-size: 2vmax;
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.inputLetra{
  text-align: center;
  font-family: 'Special Elite';
  font-size: 3vmax;
  padding: .5vmax;
  width: 3vmax;
  border-radius: .5vmax;
  border: .5vmax solid white;
}

.contenedorInputs, .contenedorBotones{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vmax;
}

.contenedorBotones{
  padding: 4vmax 0 ;
}

.boton{
  border: none;
  text-align: center;
  border-radius: 1vmax;
  font-size: 1.5vmax;
  font-family: 'Special Elite';
  background-color: white;
  color:rgb(5, 62, 5);
  padding: 1vmax 2vmax;
  font-weight: bold;
  
}










